@import "../../../sass/utils/colors";
@import "../../../sass/utils/fonts";

.view-file-info-modal {
  .file-preview {
    background-color: $gunmetal;
    width: 600px;
    position: absolute;
    left: 15px;
    height: 500px;
    top: 60px;
    border: 2px solid $charcoal;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .file-modal-details-wrapper {
    width: fit-content;
    margin: auto;
    position: absolute;
    width: 250px;
    top: 65px;
    height: 495px;
    right: 15px;
    // border: 1px solid white;

    .file-name-modal {
      position: absolute;
      width: fit-content;
      margin: auto;
      width: 250px;
      padding: 10px;
      align-items: center;
      background-color: $theme-color-light;
      border-radius: 5px;
      backdrop-filter: blur(50px);
      p {
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $label-color;
        font-family: $theme-font;
        font-weight: 200;
      }
    }
    .file-info-details {
      width: 250px;
      margin-top: 150px;
      border: 2px solid $charcoal;
      border-radius: 5px;
      background-color: $gunmetal;
      height: 150px;
      .details-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        p {
          align-items: center;
          text-align: center;
          font-family: $theme-font;
          font-weight: 200;
          color: $label-color;
          font-size: 0.8em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 20px;
        }
      }
    }
    .file-info-modal-buttons {
      margin-top: 100px;
      .download-button {
        margin: auto;
        display: flex;
        align-items: center;
        // background-color: $craft-dash-green;
        border: 2px solid $craft-dash-green;
        width: 250px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;

        .download-button-content {
          width: 100%;
          height: 100%;
          .progress-bar {
            position: absolute;
            left: 0;
            border-radius: 5px;
            height: 39px;
            width: 100%;
            background-color: $craft-dash-green;
            z-index: -1;
          }

          p {
            z-index: 2;
            cursor: pointer;
            font-family: $theme-font;
            color: $theme-color;
            color: rgb(255, 255, 255);
            font-weight: 300;
            font-size: 1em;
            margin: auto;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
        }
        &:hover {
          background-color: rgba(63, 222, 156, 0.4);
          border: 1px solid $craft-dash-green;
          img {
            content: url("../../../img/download-button-icon-hover.svg");
            width: 20px;
            margin-right: 10px;
          }
          p {
            font-family: $theme-font;
            color: $craft-dash-green;
          }
        }
      }
      .remove-node-button {
        width: fit-content;
        margin: auto;
        display: flex;
        margin-top: 10px;
        align-items: center;
        background-color: $craft-dash-red;
        border: 1px solid $craft-dash-red;
        width: 250px;
        height: 40px;
        border-radius: 5px;
        .remove-node-button-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: fit-content;
          margin: auto;

          p {
            cursor: pointer;
            font-family: $theme-font;
            color: $theme-color;
            font-weight: 300;
            font-size: 1em;
          }
        }
        &:hover {
          background-color: rgba(252, 83, 100, 0.4);
          border: 1px solid $craft-dash-red;

          p {
            font-family: $theme-font;
            color: $craft-dash-red;
          }
        }
      }
    }
  }
}
